@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Homepage style  */
#home .home__name {
  font-size: 2rem;
  font-weight: bolder;
  margin-right: 5px;
  font-family: 'Playball', cursive;
}
