* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.text-radial {
  background: radial-gradient(
    circle,
    #301ca4 0%,
    rgba(252, 70, 107, 1) 25%,
    #301ca4 50%,
    rgba(252, 70, 107, 1) 75%,
    /* #301ca4 50%,
    rgba(252, 70, 107, 1) 75%, */ #301ca4 100%
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Homepage style  */
#home{
  background: url('./assets/images/bg.jpg') no-repeat;
  height: 100vh;
}
#home .home__name {
  font-size: 2rem;
  font-weight: bolder;
  margin-right: 5px;
}
